---
- name: Install unattended-upgrades package
  apt:
    name: unattended-upgrades
    state: present

- name: Write APT 20auto-upgrades config file
  copy:
    src: 20auto-upgrades
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    owner: root
    group: root
    mode: 0644

- name: Write 50unattended-upgrades config file
  template:
    src: 50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    owner: root
    group: root
    mode: 0644

- name: Create APT timer drop-in directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "/etc/systemd/system/apt-daily.timer.d"
    - "/etc/systemd/system/apt-daily-upgrade.timer.d"

- name: Write apt-daily.timer override
  template:
    src: timer-dropin.j2
    dest: /etc/systemd/system/apt-daily.timer.d/override.conf
    owner: root
    group: root
    mode: 0644
  vars:
    on_calendar: "{{ unattended_upgrades_download_oncalendar }}"
    randomized_delay: "{{ unattended_upgrades_download_randomizeddelaysec }}"
  notify:
    - Restart apt-daily.timer

- name: Write apt-daily-upgrade.timer override
  template:
    src: timer-dropin.j2
    dest: /etc/systemd/system/apt-daily-upgrade.timer.d/override.conf
    owner: root
    group: root
    mode: 0644
  vars:
    on_calendar: "{{ unattended_upgrades_upgrade_oncalendar }}"
    randomized_delay: "{{ unattended_upgrades_upgrade_randomizeddelaysec }}"
  notify:
    - Restart apt-daily-upgrade.timer

- name: Ensure reboot helper is enabled and running
  systemd:
    name: unattended-upgrades.service
    enabled: yes
    state: started

- name: Ensure APT timers are enabled
  systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
    daemon_reload: yes
  loop:
    - apt-daily.timer
    - apt-daily-upgrade.timer
